/node_modules
/vendor
# dist assets are committed for Composer distribution (vendor:publish)
/dist/**/*.map
.phpunit.cache
.phpunit.result.cache
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage/
/testapp/
